<!-- Start Breadcrumbs -->
<breadcrumbs *ngIf="breadcrumbs$ | async as breadcrumbs" [breadcrumbs]="breadcrumbs"></breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row" [formGroup]="form">
    <div *ngIf="order$ | async as order" class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title mb-0">{{'ORDER.LABELS.DETAILS.DATA' | translate}}</h6>
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-auto">
                                <label for="order.status">{{'ORDER.FIELDS.status' | translate}}:</label>
                            </div>
                            <div class="col-auto">
                                <span id="order.status" readonly [class]="'badge ' + getOrderTagItemClass(order)">{{('ORDER.STATUS.' + order.status) | translate}}</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-auto">
                                <label for="order.createdDate">{{'ORDER.FIELDS.createdDate' | translate}}:</label>
                            </div>
                            <div class="col-auto">
                                <span id="order.createdDate" readonly>{{order.createdDate.toDate() | date}}</span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="order.completedDate" class="col-lg-6">
                        <div class="row">
                            <div class="col-auto">
                                <label for="order.completedDate">{{'ORDER.FIELDS.completedDate' | translate}}:</label>
                            </div>
                            <div class="col-auto">
                                <span id="order.completedDate" readonly>{{order.completedDate.toDate() | date}}</span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="order.cancelledDate" class="col-lg-6">
                        <div class="row">
                            <div class="col-auto">
                                <label for="order.cancelledDate">{{'ORDER.FIELDS.cancelledDate' | translate}}:</label>
                            </div>
                            <div class="col-auto">
                                <span id="order.cancelledDate" readonly>{{order.cancelledDate.toDate() | date}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title mb-0">{{'ORDER.LABELS.TITLE' | translate}}</h6>
            </div>
            <div class="card-body">
                <form action="#!">
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <label for="contractor.name" class="form-label">{{'ORDER.FIELDS.contractor.name' | translate}}</label>
                            <input id="contractor.name" name="contractor.name" readonly [disabled]="true"
                                   [value]="form.controls.contractor.value?.name || ''" type="text" class="form-control"
                                   [placeholder]="'ORDER.LABELS.UNSET' | translate"
                                   [ngClass]="{'is-invalid': showError(form.controls.contractor)}">
                        </div>
                        <div class="col-lg-6">
                            <label for="contractor.name" class="form-label">{{'ORDER.FIELDS.distributor.name' | translate}}</label>
                            <select [formControl]="form.controls.distributor" id="distributor.name" name="distributor.name"
                                    [compareWith]="selectComparator"
                                    data-choices class="form-control"
                                    [ngClass]="{'is-invalid': showError(form.controls.distributor)}">
                                <option hidden [ngValue]="null">{{'ORDER.LABELS.UNSET' | translate}}</option>
                                <option *ngFor="let distributor of distributors$ | async"
                                        [ngValue]="{id: distributor.id, name: distributor.name}"
                                >{{distributor.name}}</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label for="contractorPayer.name" class="form-label">{{'ORDER.FIELDS.contractorPayer.name' | translate}}</label>
                            <select [formControl]="form.controls.contractorPayer" id="contractorPayer.name"
                                    [compareWith]="selectComparator"
                                    name="contractorPayer.name" data-choices class="form-control"
                                    [ngClass]="{'is-invalid': showError(form.controls.contractorPayer)}">
                                <option hidden [ngValue]="null">{{'ORDER.LABELS.UNSET' | translate}}</option>
                                <option *ngFor="let contractorPayer of contractorPayers$ | async"
                                        [ngValue]="contractorPayer"
                                >{{contractorPayer.name}}</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label for="distributorPayer.name" class="form-label">{{'ORDER.FIELDS.distributorPayer.name' | translate}}</label>
                            <select [formControl]="form.controls.distributorPayer" id="distributorPayer.name"
                                    [compareWith]="selectComparator"
                                    name="distributorPayer.name" data-choices class="form-control"
                                    [ngClass]="{'is-invalid': showError(form.controls.distributorPayer)}">
                                <option hidden [ngValue]="null">{{'ORDER.LABELS.UNSET' | translate}}</option>
                                <option *ngFor="let distributorPayer of distributorPayers$ | async"
                                        [ngValue]="distributorPayer"
                                >{{distributorPayer.name}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h6 class="card-title flex-grow-1 mb-0">{{'ORDER.LABELS.PRODUCT_PRICE' | translate}} <span class="badge bg-primary-subtle text-primary">{{('ORDER.OPERATION.' + form.controls.operation.value) | translate}}</span></h6>
            </div>
            <div class="card-body">
                <div class="row gy-3">
                    <div *ngIf="form.controls.localSolutionSrc.enabled && !form.controls.localSolutionSrc.value" class="col-sm-6">
                        <a href="javascript:void(0);"
                           class="card bg-light bg-opacity-25 border border-light-subtle shadow-none h-100 text-center">
                            <div class="card-body d-flex justify-content-center align-items-center">
                                <div>
                                    <div class="fs-4xl mb-2"><i class="bi bi-plus-circle-dotted"></i></div>
                                    <div class="fw-medium fs-md text-primary-emphasis stretched-link"
                                         (click)="beforeEditLocalSolutionSrc()"
                                    >
                                        {{'ORDER.LABELS.ACTION.ADD' | translate}} {{'ORDER.LABELS.localSolutionSrc' | translate | lowercase}}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div *ngIf="!!form.controls.localSolutionSrc.value" class="col-sm-6">
                        <div class="form-check card-radio rounded-bottom-0">
                            <label class="form-check-label">
                                <span class="mb-3 fw-semibold d-block text-muted text-uppercase">{{'ORDER.LABELS.localSolutionSrc' | translate}}</span>
                                <span class="fs-md mb-2 d-block fw-medium">{{'ORDER.FIELDS.localSolutionSrc.name' | translate}}: {{form.controls.localSolutionSrc.value!.name}}</span>
                                <span class="text-muted fw-normal text-wrap mb-1 d-block">{{'ORDER.FIELDS.localSolutionSrc.count' | translate}}: {{form.controls.localSolutionSrc.value!.count}}</span>
                                <span class="text-muted fw-normal d-block">{{'ORDER.FIELDS.localSolutionSrc.expirationDate' | translate}}: {{form.controls.localSolutionSrc.value!.expirationDate.toDate() | date}}</span>
                            </label>
                        </div>
                        <div *ngIf="form.controls.localSolutionSrc.enabled" class="d-flex flex-wrap p-2 py-1 rounded-bottom border mt-n1">
                            <div>
                                <a href="javascript:void(0);" class="d-block text-body p-1 px-2" (click)="beforeEditLocalSolutionSrc()">
                                    <i class="ri-pencil-fill text-muted align-bottom me-1"></i>
                                    {{'ORDER.LABELS.ACTION.EDIT' | translate}}
                                </a>
                            </div>
                            <div>
                                <a href="javascript:void(0);" class="d-block text-body p-1 px-2" (click)="form.controls.localSolutionSrc.reset()">
                                    <i class="ri-delete-bin-fill text-muted align-bottom me-1"></i>
                                    {{'ORDER.LABELS.ACTION.DELETE' | translate}}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!form.controls.localSolutionRes.value" class="col-sm-6">
                        <a href="javascript:void(0);"
                           class="card bg-light bg-opacity-25 border border-light-subtle shadow-none h-100 text-center"
                           [ngClass]="{'is-invalid-border': showError(form.controls.localSolutionRes)}">
                            <div class="card-body d-flex justify-content-center align-items-center">
                                <div>
                                    <div class="fs-4xl mb-2"><i class="bi bi-plus-circle-dotted"></i></div>
                                    <div class="fw-medium fs-md text-primary-emphasis stretched-link"
                                         (click)="beforeEditLocalSolutionRes()"
                                    >
                                        {{'ORDER.LABELS.ACTION.ADD' | translate}} {{'ORDER.LABELS.localSolutionRes' | translate | lowercase}}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div *ngIf="!!form.controls.localSolutionRes.value" class="col-sm-6">
                        <div class="form-check card-radio rounded-bottom-0">
                            <label class="form-check-label">
                                <span class="mb-3 fw-semibold d-block text-muted text-uppercase">{{'ORDER.LABELS.localSolutionRes' | translate}}</span>
                                <span class="fs-md mb-2 d-block fw-medium">{{'ORDER.FIELDS.localSolutionRes.name' | translate}}: {{form.controls.localSolutionRes.value!.name}}</span>
                                <span class="text-muted fw-normal text-wrap mb-1 d-block">{{'ORDER.FIELDS.localSolutionRes.count' | translate}}: {{form.controls.localSolutionRes.value!.count}}</span>
                                <span class="text-muted fw-normal d-block">{{'ORDER.FIELDS.localSolutionRes.period' | translate}}: {{form.controls.localSolutionRes.value!.period.count}} {{('PERIOD.' + form.controls.localSolutionRes.value!.period.type) | translate: {count: form.controls.localSolutionRes.value!.period.count} }}</span>
                            </label>
                        </div>
                        <div *ngIf="form.controls.localSolutionRes.enabled" class="d-flex flex-wrap p-2 py-1 rounded-bottom border mt-n1">
                            <div>
                                <a href="javascript:void(0);" class="d-block text-body p-1 px-2" (click)="beforeEditLocalSolutionRes()">
                                    <i class="ri-pencil-fill text-muted align-bottom me-1"></i>
                                    {{'ORDER.LABELS.ACTION.EDIT' | translate}}
                                </a>
                            </div>
                            <div>
                                <a href="javascript:void(0);" class="d-block text-body p-1 px-2" (click)="form.controls.localSolutionRes.reset()">
                                    <i class="ri-delete-bin-fill text-muted align-bottom me-1"></i>
                                    {{'ORDER.LABELS.ACTION.DELETE' | translate}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-6">
                        <label for="amountTotal" class="form-label">{{'ORDER.FIELDS.amountTotal' | translate}}</label>
                        <input [formControl]="form.controls.amountTotal"
                               [ngClass]="{'is-invalid': showError(form.controls.amountTotal)}"
                               type="text" class="form-control" id="amountTotal"
                               mask="separator.2" [validation]="false" placeholder="10 000.00">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title mb-0">{{'ORDER.LABELS.OWNER_INFO' | translate}}</h6>
            </div>
            <div class="card-body">
                <form action="#!">
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <label for="client.taxCode" class="form-label">{{'ORDER.FIELDS.client.taxCode' | translate}}</label>
                            <input [formControl]="form.controls.client.controls.taxCode"
                                   [ngClass]="{'is-invalid': showError(form.controls.client.controls.taxCode)}"
                                   type="text" class="form-control" id="client.taxCode"
                                   mask="0{8}9{4}" [validation]="false">
                        </div>
                        <div class="col-lg-6">
                            <label for="client.name" class="form-label">{{'ORDER.FIELDS.client.name' | translate}}</label>
                            <input [formControl]="form.controls.client.controls.name"
                                   [ngClass]="{'is-invalid': showError(form.controls.client.controls.name)}"
                                   type="text" class="form-control" id="client.name">
                        </div>

                        <div class="col-lg-4">
                            <label for="contact.name" class="form-label">{{'ORDER.FIELDS.contact.name' | translate}}</label>
                            <input [formControl]="form.controls.contact.controls.name"
                                   [ngClass]="{'is-invalid': showError(form.controls.contact.controls.name)}"
                                   type="text" class="form-control" id="contact.name">
                        </div>
                        <div class="col-lg-4">
                            <label for="contact.phone" class="form-label">{{'ORDER.FIELDS.contact.phone' | translate}}</label>
                            <input [formControl]="form.controls.contact.controls.phone"
                                   [ngClass]="{'is-invalid': showError(form.controls.contact.controls.phone)}"
                                   type="text" class="form-control" id="contact.phone"
                                   mask="(0{3})0{2}-0{3}-0{2}-0{2}" [validation]="false"
                                   placeholder="(380)xx-xxx-xx-xx">
                        </div>
                        <div class="col-lg-4">
                            <label for="contact.email" class="form-label">{{'ORDER.FIELDS.contact.email' | translate}}</label>
                            <input [formControl]="form.controls.contact.controls.email"
                                   [ngClass]="{'is-invalid': showError(form.controls.contact.controls.email)}"
                                   type="text" class="form-control" id="contact.email">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!(order$ | async) || (order$ | async)?.status === OrderStatus.NEW" class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="text-end">
                    <ng-container *ngIf="!(order$ | async)">
                        <button type="button" data-bs-toggle="modal" (click)="createOrder()"
                                class="btn btn-primary me-1"
                        >{{'ORDER.LABELS.ACTION.CREATE' | translate}} {{'ORDER.LABELS.TITLE' | translate | lowercase}}</button>
                        <a routerLink="../" class="btn btn-secondary">{{'ORDER.LABELS.ACTION.RETURN' | translate}}</a>
                    </ng-container>
                    <ng-container *ngIf="order$ | async as order">
                        <button type="button" data-bs-toggle="modal" (click)="updateOrder()"
                                class="btn btn-primary me-1" [disabled]="updateSubmitDisabled$ | async"
                        >{{'ORDER.LABELS.ACTION.SAVE_CHANGES' | translate}}</button>
                        <button class="btn btn-secondary" (click)="resetFormToOrder(order)">{{'ORDER.LABELS.ACTION.RESET_CHANGES' | translate}}</button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- editItemModal -->
<div bsModal #localSolutionSrcModal="bs-modal" id="localSolutionSrcModal" class="modal fade zoomIn" [formGroup]="localSolutionSrcDialogForm">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{'ORDER.LABELS.localSolutionSrc' | translate}}</h5>
                <button type="button" class="btn-close" (click)="localSolutionSrcModal.hide()"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="mb-3">
                        <label class="text-muted">{{'LICENSE.SEARCH.LABEL' | translate}}</label>
                        <ng-autocomplete [data]="licenseOptions"
                                         [formControl]="localSolutionSrcDialogForm.controls.license"
                                         [searchKeyword]="'publicKey'"
                                         [placeholder]="'LICENSE.PRIVATE_KEY.SEARCH.LABEL' | translate"
                                         (inputChanged)='autocompleteLicenses()'
                                         (inputCleared)="selectLocalSolutionSrcLicense(null)"
                                         (selected)="selectLocalSolutionSrcLicense($event)"
                                         [customFilter]="autoCompleteLocalFilter"
                                         [itemTemplate]="itemTemplate"
                                         [notFoundTemplate]="notFoundTemplate"
                                         [minQueryLength]="8"
                                         [debounceTime]="500"
                                         [historyIdentifier]="$any(null)"
                                         [isLoading]="(licensesLoading$ | async)!"
                                         [notFoundText]="'LICENSE.LABELS.NONE' | translate"
                                         [selectedValueRender]="autocompleteSelectedValueRenderer"
                        >
                        </ng-autocomplete>
                        <ng-template #itemTemplate let-license>
                            <a>{{license.localSolution.name}} / {{license.localSolution.count}} / {{formToTimestamp(license.expirationDate).toDate() | date: 'shortDate'}}</a>
                        </ng-template>
                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-ghost-danger" (click)="localSolutionSrcModal.hide()">
                    <i class="bi bi-x-lg align-baseline me-1"></i>
                    {{'BUTTONS.CLOSE' | translate}}
                </button>
                <button type="button" class="btn btn-primary" [disabled]="localSolutionSrcDialogForm.invalid" (click)="confirmEditLocalSolutionSrc()">{{'ORDER.LABELS.ACTION.APPLY' | translate}}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #localSolutionResModal="bs-modal" id="localSolutionResModal" class="modal fade zoomIn" [formGroup]="localSolutionResDialogForm">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{'ORDER.LABELS.localSolutionRes' | translate}}</h5>
                <button type="button" class="btn-close" (click)="localSolutionResModal.hide()"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="mb-3">
                        <label for="localSolutionResDialogForm.localSolution" class="form-label">{{'ORDER.FIELDS.localSolutionRes.name' | translate}}</label>
                        <select class="form-select" id="localSolutionResDialogForm.localSolution" [formControl]="localSolutionResDialogForm.controls.localSolution"
                                [compareWith]="selectComparator"
                                [ngClass]="{'is-invalid': showError(localSolutionResDialogForm.controls.localSolution)}">
                            <option hidden [ngValue]="null">{{'ORDER.LABELS.UNSET' | translate}}</option>
                            <option *ngFor="let localSolution of localSolutions$ | async"
                                    [ngValue]="localSolution"
                            >{{localSolution.name}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="localSolutionResDialogForm.count"
                               class="form-label">{{'ORDER.FIELDS.localSolutionRes.count' | translate}}</label>
                        <input type="text" class="form-control" id="localSolutionResDialogForm.count"
                               [formControl]="localSolutionResDialogForm.controls.count" mask="9*" [validation]="false"
                               [ngClass]="{'is-invalid': showError(localSolutionResDialogForm.controls.count)}">
                    </div>
                    <div class="mb-3">
                        <label for="localSolutionResDialogForm.period.count"
                               class="form-label">{{'ORDER.FIELDS.localSolutionRes.period' | translate}}</label>
                        <div class="row">
                            <div class="col-lg-3 mb-3">
                                <input type="text" class="form-control" id="localSolutionResDialogForm.period.count"
                                       [formControl]="localSolutionResDialogForm.controls.period.controls.count" mask="9*" [validation]="false"
                                       [ngClass]="{'is-invalid': showError(localSolutionResDialogForm.controls.period.controls.count)}">
                            </div>
                            <div class="col-lg-3 mb-3">
                                <select class="form-select" [formControl]="localSolutionResDialogForm.controls.period.controls.type"
                                        [compareWith]="selectComparator"
                                        [ngClass]="{'is-invalid': showError(localSolutionResDialogForm.controls.period.controls.type)}">
                                    <option *ngFor="let periodType of periodTypes"
                                            [ngValue]="periodType"
                                    >{{('PERIOD.' + periodType) | translate: {count: localSolutionResDialogForm.controls.period.controls.count.value} }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-ghost-danger" (click)="localSolutionResModal.hide()">
                    <i class="bi bi-x-lg align-baseline me-1"></i>
                    {{'BUTTONS.CLOSE' | translate}}
                </button>
                <button type="button" class="btn btn-primary" [disabled]="localSolutionResDialogForm.invalid" (click)="confirmEditLocalSolutionRes()">{{'ORDER.LABELS.ACTION.APPLY' | translate}}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--confirm orders-->
<div bsModal #confirmCreateOrderModal="bs-modal" id="confirmCreateOrderModal" class="modal fade zoomIn">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" (click)="confirmCreateOrderModal.hide()"></button>
            </div>
            <div class="modal-body">
                <div class="mt-2 text-center">
                    <i class="bi bi-shop display-6"></i>
                    <div class="mt-4 pt-2 mx-4 mx-sm-5">
                        <h4>{{'LABELS.CONFIRM.TITLE' | translate}}</h4>
                        <p class="text-muted mx-4 mb-0">{{'ORDER.CONFIRM.CREATE' | translate}}</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button type="button" class="btn w-sm btn-ghost-danger" (click)="confirmCreateOrderModal.hide()"><i
                            class="bi bi-x-lg align-baseline me-1"></i>{{'BUTTONS.CLOSE' | translate}}</button>
                    <button type="button" class="btn w-sm btn-success" (click)="confirmCreateOrder()">{{'BUTTONS.PROCEED' | translate}}</button>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #confirmUpdateOrderModal="bs-modal" id="confirmUpdateOrderModal" class="modal fade zoomIn">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" (click)="confirmUpdateOrderModal.hide()"></button>
            </div>
            <div class="modal-body">
                <div class="mt-2 text-center">
                    <i class="bi bi-shop display-6"></i>
                    <div class="mt-4 pt-2 mx-4 mx-sm-5">
                        <h4>{{'LABELS.CONFIRM.TITLE' | translate}}</h4>
                        <p class="text-muted mx-4 mb-0">{{'ORDER.CONFIRM.UPDATE' | translate}}</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button type="button" class="btn w-sm btn-ghost-danger" (click)="confirmUpdateOrderModal.hide()"><i
                            class="bi bi-x-lg align-baseline me-1"></i>{{'BUTTONS.CLOSE' | translate}}</button>
                    <button type="button" class="btn w-sm btn-success" (click)="confirmUpdateOrder()">{{'BUTTONS.PROCEED' | translate}}</button>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
