rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // refuse all unspecified by default
      allow read, write: if false;
    }

  	function isAuthorized() {
      return request.auth.uid != null;
    }

    match /clients/{clientId} {
    	allow read: if isAuthorized() && request.auth.token.contractorId in resource.data.contractorIds;
    }
    match /local-solutions/{localSolutionId} {
    	allow read: if isAuthorized();
    }
    match /order-amount-ranges/{rangeId} {
    	allow read: if true;
    }
    match /contractors/{contractorId} {
      function isCurrentUserContractor() {
        return isAuthorized() && request.auth.token.contractorId == contractorId;
      }
      function isCurrentUserContractorsDistributor() {
        return isAuthorized() && request.auth.token.contractorId in resource.data.contractorIds;
      }

      allow read: if isAuthorized() && (isCurrentUserContractor() || isCurrentUserContractorsDistributor());

      match /payers/{payerId} {
      	allow read: if isAuthorized() && (isCurrentUserContractor() || isCurrentUserContractorsDistributor());
      }
      match /orders/{orderId} {
      	allow read: if isAuthorized() && isCurrentUserContractor();
      }
    }
  }
}
