<div class="row">
    <div class="col-lg-12">
        <div class="card" id="coursesList">
            <div class="card-body">
                <div class="row align-items-center g-2">
                    <div class="col-lg-3 me-auto">
                        <h6 class="card-title mb-0">{{'MENUITEMS.ORDERS.TABLE.TITLE' | translate}}<!--<span class="badge bg-primary ms-1 align-baseline">1452</span>--></h6>
                    </div><!--end col-->
                    <div class="col-lg-auto">
                        <div class="hstack flex-wrap gap-2">
                            <button class="btn btn-subtle-danger" *ngIf="canDeleteCheckedOrders$ | async" (click)="deleteCheckedOrders()"><i class="ri-delete-bin-2-line"></i></button>
                            <a routerLink="create" class="btn btn-secondary"><i class="bi bi-plus-circle align-baseline me-1"></i>{{'ORDER.LABELS.ACTION.CREATE' | translate}}</a>
                            <div>
                                <button type="button" class="btn btn-info me-1" (click)="openEnd()"><i class="bi bi-funnel align-baseline me-1"></i>{{'ORDER.LABELS.SEARCH' | translate}}</button>
                            </div>
                        </div>
                    </div><!--end col-->
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table-card">
                    <table class="table table-centered align-middle table-custom-effect table-nowrap mb-0">
                        <thead class="text-muted">
                            <tr>
                                <th>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="option" id="checkAll" [(ngModel)]="headerCheckboxSelected" (change)="checkUncheckAll($event)">
                                        <label class="form-check-label" for="checkAll"></label>
                                    </div>
                                </th>

                                <th *ngFor="let colConfig of colConfigs"
                                    scope="col"
                                    [listsortable]="colConfig.column"
                                    [direction]="(getSortDirection$(colConfig.column) | async)!"
                                    [availableDirections]="colConfig.sortDirections"
                                    (sort)="onSort($event)"
                                >
                                    {{('ORDER.FIELDS.' + colConfig.column) | translate}}
                                </th>
                                <th scope="col">{{'ORDER.LABELS.ACTION.TEXT' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody class="list form-check-all">
                            <tr *ngFor="let item of (orders$ | async);let i = index;" id="p_{{item.id}}">
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="chk_child" [(ngModel)]="checkboxItems[item.id]" (change)="onCheckboxChange($event)">
                                        <label class="form-check-label"></label>
                                    </div>
                                </td>

                                <ng-container *ngFor="let colConfig of colConfigs">
                                    <ng-container [ngSwitch]="colConfig.column">
                                        <td *ngSwitchCase="'createdDate'">{{extractByPath(item, colConfig.column).toDate() | date }}</td>
                                        <td *ngSwitchCase="'number'"><a routerLink="/learning/grid" class="text-reset">{{extractByPath(item, colConfig.column)}}</a></td>
                                        <td *ngSwitchCase="'status'"><span [class]="'badge ' + getOrderTagItemClass(item)">{{('ORDER.STATUS.' + extractByPath(item, colConfig.column)) | translate}}</span></td>
                                        <td *ngSwitchCase="'operation'">{{('ORDER.OPERATION.' + extractByPath(item, colConfig.column)) | translate}}</td>
                                        <td *ngSwitchDefault>{{extractByPath(item, colConfig.column)}}</td>
                                    </ng-container>
                                </ng-container>

                                <td>
                                    <ul class="d-flex gap-2 list-unstyled mb-0">
                                        <!--TODO edit-->
<!--                                        <li>-->
<!--                                            <a href="javascript:void(0);" [title]="'ORDER.LABELS.ACTION.EDIT' | translate" (click)="editList(i)" class="btn btn-subtle-primary btn-icon btn-sm edit-item-btn"><i class="ph-pencil"></i></a>-->
<!--                                        </li>-->
                                        <li *ngIf="canCancelOrder(item)">
                                            <a href="javascript:void(0);" [title]="'ORDER.LABELS.ACTION.CANCEL' | translate" (click)="cancelOrder(item)" class="btn btn-subtle-secondary btn-icon btn-sm"><i class="ph-stop-circle"></i></a>
                                        </li>
                                        <li *ngIf="canDeleteOrder(item)">
                                            <a href="javascript:void(0);" [title]="'ORDER.LABELS.ACTION.DELETE' | translate" (click)="deleteOrders([item])" class="btn btn-subtle-danger btn-icon btn-sm remove-item-btn"><i class="ph-trash"></i></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody><!-- end tbody -->
                    </table><!-- end table -->
                    <div class="noresult" *ngIf="(orders$ | async)?.length == 0 && ((loading$ | async) === false)">
                        <div class="text-center py-4">
                            <i class="ph-magnifying-glass fs-1 text-primary"></i>
                            <h5 class="mt-2">{{'ORDER.LABELS.NONE' | translate}}</h5>
                        </div>
                    </div>
                </div>
                <div *ngIf="loading$ | async" id="elmLoader">
                    <div class="spinner-border text-primary avatar-sm" role="status"></div>
                </div>
                <div *ngIf="!!(orders$ | async)?.length" class="row align-items-center mt-4 pt-2" id="pagination-element">
                    <div class="col-sm">
                        <div class="text-muted text-center text-sm-start"
                             [innerHTML]="'TABLE.AMOUNT_TEXT' | translate: { current: (orders$ | async)!.length, total: totalRecords$ | async }"></div>
                    </div><!--end col-->
                    <div class="col-sm-auto mt-3 mt-sm-0">
                        <pagination
                                class="pagination-wrap hstack gap-2 justify-content-center"
                                [totalItems]="(totalRecords$ | async)!"
                                [itemsPerPage]="(state$ | async)!.pageSize"
                                [maxSize]="1"
                                [ngModel]="(state$ | async)!.page"
                                (pageChanged)="onPageChange($event)"
                                [previousText]="'<<'"
                                [nextText]="'>>'"
                        ></pagination>
                    </div><!--end col-->
                </div><!--end row-->
            </div>
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->

<div bsModal #deleteModal="bs-modal" id="deleteModal" class="modal fade zoomIn">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" (click)="deleteModal.hide()"></button>
            </div>
            <div class="modal-body p-md-5">
                <div class="text-center">
                    <div class="text-danger">
                        <i class="bi bi-trash display-5"></i>
                    </div>
                    <div class="mt-4">
                        <h4 class="mb-2">{{'LABELS.CONFIRM.TITLE' | translate}}</h4>
                        <p class="text-muted mx-3 mb-0">{{('ORDER.CONFIRM.DELETE.TEXT' + (deleteCount > 1 ? '_MULTIPLE' : '')) | translate }}</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 pt-2 mb-2">
                    <button type="button" class="btn w-sm btn-light btn-hover" (click)="deleteModal.hide()">{{'BUTTONS.CLOSE' | translate}}</button>
                    <button type="button" class="btn w-sm btn-danger btn-hover" (click)="confirmDeleteOrders()">{{'BUTTONS.PROCEED' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- cancelModal -->
<div bsModal #cancelModal="bs-modal" id="cancelModal" class="modal fade zoomIn">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" (click)="cancelModal.hide()"></button>
            </div>
            <div class="modal-body p-md-5">
                <div class="text-center">
                    <div class="text-warn">
                        <i class="bi bi-x-circle display-5"></i>
                    </div>
                    <div class="mt-4">
                        <h4 class="mb-2">{{'LABELS.CONFIRM.TITLE' | translate}}</h4>
                        <p class="text-muted mx-3 mb-0">{{'ORDER.CONFIRM.CANCEL.TEXT' | translate}}</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 pt-2 mb-2">
                    <button type="button" class="btn w-sm btn-light btn-hover" (click)="cancelModal.hide()">{{'BUTTONS.CLOSE' | translate}}</button>
                    <button type="button" class="btn w-sm btn-warning btn-hover" (click)="confirmCancelOrder()">{{'BUTTONS.PROCEED' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="custom-offcanvas" id="courseFilters">
    <div class="offcanvas-header border-bottom p-3">
        <h5 class="offcanvas-title" id="courseFiltersLabel">{{'ORDER.LABELS.SEARCH' | translate}}</h5>
        <button type="button" class="btn-close" (click)="closeoffcanvas()"></button>
    </div>
    <div class="offcanvas-body">
        <form action="#!" [formGroup]="searchForm">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label for="order_amount_filter" class="form-label">{{'ORDER.FIELDS.amountTotal' | translate}}</label>

                        <select class="form-select" id="order_amount_filter" [formControl]="searchForm.controls.amountRange">
                            <option value="">{{'ORDER.LABELS.UNSET' | translate}}</option>
                            <ng-container *ngIf="orderAmountRanges$ | async as orderAmountRanges">
                                <option *ngFor="let range of orderAmountRanges" [value]="range.id">
                                    <ng-container *ngIf="range.to === null">
                                        >= {{range.from}}
                                    </ng-container>
                                    <ng-container *ngIf="range.from === null">
                                        <= {{range.to}}
                                    </ng-container>
                                    <ng-container *ngIf="range.from && range.to">
                                        {{range.from}} >= {{'ORDER.FIELDS.amountTotal' | translate}} >= {{range.to}}
                                    </ng-container>
                                </option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="form-label fs-md mb-3 text-decoration-underline">{{'ORDER.FIELDS.operation' | translate}}</label>
                        <div class="vstack gap-2">
                            <div *ngFor="let operation of operationTypes" class="form-check">
                                <input class="form-check-input" type="checkbox" [formControl]="searchForm.controls.operations.controls[operation]" [id]="'order_operation_filter_' + operation">
                                <label class="form-check-label" [for]="'order_operation_filter_' + operation">
                                    {{('ORDER.OPERATION.' + operation) | translate}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label for="order_local_solution_filter" class="form-label">{{'ORDER.FIELDS.localSolutionRes.name' | translate}}</label>

                        <select class="form-select" id="order_local_solution_filter" [formControl]="searchForm.controls.localSolutionId">
                            <option value="">{{'ORDER.LABELS.UNSET' | translate}}</option>
                            <ng-container *ngIf="localSolutions$ | async as localSolutions">
                                <option *ngFor="let localSolution of localSolutions" [value]="localSolution.id">{{localSolution.name}}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="form-label fs-md mb-3 text-decoration-underline">{{'ORDER.FIELDS.status' | translate}}</label>
                        <div class="vstack gap-2">
                            <div *ngFor="let status of statuses" class="form-check">
                                <input class="form-check-input" type="checkbox" [formControl]="searchForm.controls.statuses.controls[status]" [id]="'order_status_filter_' + status">
                                <label class="form-check-label" [for]="'order_status_filter_' + status">
                                    {{('ORDER.STATUS.' + status) | translate}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="offcanvas-header htsack gap-2 border-top p-3">
        <button class="btn btn-subtle-danger w-100" (click)="reset()"><i class="bi bi-x-lg align-baseline me-1"></i>{{'ORDER.LABELS.RESET' | translate}}</button>
        <button class="btn btn-secondary w-100" (click)="search()"><i class="bi bi-funnel align-baseline me-1"></i>{{'ORDER.LABELS.SHOW' | translate}}</button>
    </div>
</div>

<div class="offcanvas-backdrop fade backdrop3" id="backdrop" (click)="closeoffcanvas()"></div>
