<div class="row">
    <div class="col-xl-5">
        <div class="card card-height-100 border-0 overflow-hidden">
            <div class="card-body p-0">
                <div class="row g-0">
                    <div class="col-md-6">
                        <!-- card -->
                        <div class="card shadow-none border-end-md border-bottom rounded-0 mb-0">
                            <div class="card-body">
                                <div dropdown container="body" class="dropdown float-end">
                                    <a dropdownToggle class="text-reset dropdown-btn" href="javascript:void(0);">
                                        <span class="text-muted fs-lg"><i class="mdi mdi-dots-vertical align-middle"></i></span>
                                    </a>
                                    <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                                        <a *ngFor="let option of timePeriodOptions" class="dropdown-item" href="javascript:void(0);" (click)="setAmountTimePeriod(option.period)">{{('LABELS.TIME_PERIOD.' + option.labelKey) | translate}}</a>
                                    </div>
                                </div>
                                <div class="avatar-sm">
                                    <span class="avatar-title bg-primary-subtle text-primary rounded-circle fs-3">
                                        <i class="ph-wallet"></i>
                                    </span>
                                </div>
                                <div class="mt-4">
                                    <p class="text-uppercase fw-medium text-muted text-truncate fs-sm">{{'ORDER.LABELS.REVENUE.TOTAL' | translate}}</p>
                                    <h4 class="fw-semibold mb-3">
                                        <h4 class="fw-semibold mb-3">
                                            <span class="counter-value" *ngIf="(amount$ | async) === null">0</span>
                                            <span class="counter-value" *ngIf="(amount$ | async) as amount" [countUp]="amount"></span>
                                        </h4>
                                    </h4>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->
                    <div class="col-md-6">
                        <!-- card -->
                        <div class="card shadow-none border-bottom rounded-0 mb-0">
                            <div class="card-body">
                                <div dropdown class="dropdown float-end">
                                    <a dropdownToggle class="text-reset dropdown-btn" href="javascript:void(0);">
                                        <span class="text-muted fs-lg"><i class="mdi mdi-dots-vertical align-middle"></i></span>
                                    </a>
                                    <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                                        <a *ngFor="let option of timePeriodOptions" class="dropdown-item" href="javascript:void(0);" (click)="setCountTimePeriod(option.period)">{{('LABELS.TIME_PERIOD.' + option.labelKey) | translate}}</a>
                                    </div>
                                </div>
                                <div class="avatar-sm">
                                    <span class="avatar-title bg-dark-subtle text-dark rounded-circle fs-3">
                                        <i class="ph-bag"></i>
                                    </span>
                                </div>
                                <div class="mt-4">
                                    <p class="text-uppercase fw-medium text-muted text-truncate fs-sm">{{'MENUITEMS.ORDERS.TEXT' | translate}}</p>
                                    <h4 class="fw-semibold mb-3">
                                        <span class="counter-value" *ngIf="(count$ | async) === null">0</span>
                                        <span class="counter-value" *ngIf="(count$ | async) as count" [countUp]="count"></span>
                                    </h4>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->
                </div> <!-- end row-->
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->
<div class="row">
    <div class="col-xl-9">
        <div class="card" id="contactList">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">{{'ORDER.LABELS.LATEST' | translate}}</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                        <thead class="text-muted table-light">
                            <tr>
                                <th *ngFor="let colConfig of colConfigs" scope="col">
                                    {{('ORDER.FIELDS.' + colConfig.column) | translate}}
                                </th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr *ngFor="let item of (orders$ | async);let i = index;" id="p_{{item.id}}">
                                <ng-container *ngFor="let colConfig of colConfigs">
                                    <ng-container [ngSwitch]="colConfig.column">
                                        <td *ngSwitchCase="'createdDate'">{{extractByPath(item, colConfig.column).toDate() | date }}</td>
                                        <td *ngSwitchCase="'number'"><a routerLink="/learning/grid" class="text-reset">{{extractByPath(item, colConfig.column)}}</a></td>
                                        <td *ngSwitchCase="'status'"><span [class]="'badge ' + getOrderTagItemClass(item)">{{('ORDER.STATUS.' + extractByPath(item, colConfig.column)) | translate}}</span></td>
                                        <td *ngSwitchCase="'operation'">{{('ORDER.OPERATION.' + extractByPath(item, colConfig.column)) | translate}}</td>
                                        <td *ngSwitchDefault>{{extractByPath(item, colConfig.column)}}</td>
                                    </ng-container>
                                </ng-container>
                            </tr>
                        </tbody><!-- end tbody -->
                    </table><!-- end table -->
                    <div class="noresult" *ngIf="(orders$ | async)?.length == 0 && ((loading$ | async) === false)">
                        <div class="text-center py-4">
                            <i class="ph-magnifying-glass fs-1 text-primary"></i>
                            <h5 class="mt-2">{{'ORDER.LABELS.NONE' | translate}}</h5>
                        </div>
                    </div>
                </div>
                <div *ngIf="loading$ | async" id="elmLoader">
                    <div class="spinner-border text-primary avatar-sm" role="status"></div>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->
<div class="row">
    <div class="col-xl-5">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1">{{'ORDER.LABELS.STATUS' | translate}}</h5>
                <div dropdown class="dropdown card-header-dropdown">
                    <a dropdownToggle class="text-reset dropdown-btn" href="javascript:void(0);">
                        <i class="ph-dots-three-outline-vertical"></i>
                    </a>
                    <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                        <a *ngFor="let option of timePeriodOptions" class="dropdown-item" href="javascript:void(0);" (click)="setStatusesTimePeriod(option.period)">{{('LABELS.TIME_PERIOD.' + option.labelKey) | translate}}</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div *ngFor="let status of orderStatuses" class="row align-items-center mb-3">
                    <div class="col-lg-5">
                        <div class="hstack gap-2">
                            <p class="mb-0 flex-grow-1">{{('ORDER.STATUS.' + status) | translate}}</p>
                            <h6 *ngIf="(statuses$ | async) === null" class="mb-0">0</h6>
                            <h6 *ngIf="(statuses$ | async) as statuses" class="mb-0">{{statuses[status]}}</h6>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="animated-progress">
                            <progressbar *ngIf="(statuses$ | async) === null" [value]="0" [striped]="true" [animate]="true"></progressbar>
                            <progressbar *ngIf="(statuses$ | async) as statuses" [value]="getRelativePercentage(status, statuses)" [striped]="true" [animate]="true"
                                         [type]="getProgressbarType(status)"></progressbar>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->
