<div class="row">
    <div class="col-xl-5">
        <div class="card card-height-100 border-0 overflow-hidden">
            <div class="card-body p-0">
                <div class="row g-0">
                    <div class="col-md-6">
                        <!-- card -->
                        <div class="card shadow-none border-end-md border-bottom rounded-0 mb-0">
                            <div class="card-body">
                                <div dropdown container="body" class="dropdown float-end">
                                    <a dropdownToggle class="text-reset dropdown-btn" href="javascript:void(0);">
                                        <span class="text-muted fs-lg"><i class="mdi mdi-dots-vertical align-middle"></i></span>
                                    </a>
                                    <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                                        <a *ngFor="let option of timePeriodOptions" class="dropdown-item" href="javascript:void(0);" (click)="setAmountTimePeriod(option.period)">{{('LABELS.TIME_PERIOD.' + option.labelKey) | translate}}</a>
                                    </div>
                                </div>
                                <div class="avatar-sm">
                                    <span class="avatar-title bg-primary-subtle text-primary rounded-circle fs-3">
                                        <i class="ph-wallet"></i>
                                    </span>
                                </div>
                                <div class="mt-4">
                                    <p class="text-uppercase fw-medium text-muted text-truncate fs-sm">{{'ORDER.LABELS.REVENUE.TOTAL' | translate}}</p>
                                    <h4 class="fw-semibold mb-3">
                                        <h4 class="fw-semibold mb-3">
                                            <span class="counter-value" *ngIf="(amount$ | async) === null">0</span>
                                            <span class="counter-value" *ngIf="(amount$ | async) as amount" [countUp]="amount"></span>
                                        </h4>
                                    </h4>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->
                    <div class="col-md-6">
                        <!-- card -->
                        <div class="card shadow-none border-bottom rounded-0 mb-0">
                            <div class="card-body">
                                <div dropdown class="dropdown float-end">
                                    <a dropdownToggle class="text-reset dropdown-btn" href="javascript:void(0);">
                                        <span class="text-muted fs-lg"><i class="mdi mdi-dots-vertical align-middle"></i></span>
                                    </a>
                                    <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                                        <a *ngFor="let option of timePeriodOptions" class="dropdown-item" href="javascript:void(0);" (click)="setCountTimePeriod(option.period)">{{('LABELS.TIME_PERIOD.' + option.labelKey) | translate}}</a>
                                    </div>
                                </div>
                                <div class="avatar-sm">
                                    <span class="avatar-title bg-dark-subtle text-dark rounded-circle fs-3">
                                        <i class="ph-bag"></i>
                                    </span>
                                </div>
                                <div class="mt-4">
                                    <p class="text-uppercase fw-medium text-muted text-truncate fs-sm">{{'MENUITEMS.ORDERS.TEXT' | translate}}</p>
                                    <h4 class="fw-semibold mb-3">
                                        <span class="counter-value" *ngIf="(count$ | async) === null">0</span>
                                        <span class="counter-value" *ngIf="(count$ | async) as count" [countUp]="count"></span>
                                    </h4>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->
                </div> <!-- end row-->
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->
<div class="row">
    <div class="col-lg-8">
        <div class="card" id="contactList">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Latest Orders</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                        <thead class="text-muted table-light">
                        <tr>
                            <th scope="col" class="sort cursor-pointer" Ordersortable="date" (Ordersort)="onSort($event)">Order Date</th>
                            <th scope="col" class="sort cursor-pointer" Ordersortable="orderId" (Ordersort)="onSort($event)">Order ID</th>
                            <th scope="col" class="sort cursor-pointer" Ordersortable="shop" (Ordersort)="onSort($event)">Shop</th>
                            <th scope="col" class="sort cursor-pointer" Ordersortable="customer" (Ordersort)="onSort($event)">Customers</th>
                            <th scope="col" class="sort cursor-pointer" Ordersortable="product" (Ordersort)="onSort($event)">Products</th>
                            <th scope="col" class="sort cursor-pointer" Ordersortable="amount" (Ordersort)="onSort($event)">Amount</th>
                            <th scope="col" class="sort cursor-pointer" Ordersortable="status" (Ordersort)="onSort($event)">Status</th>
                            <th scope="col" class="sort cursor-pointer" Ordersortable="rating" (Ordersort)="onSort($event)">Rating</th>
                        </tr>
                        </thead>
                        <tbody class="list">
                        <tr *ngFor="let data of orderList;">
                            <td class="order_date">
                                {{data.date}}
                            </td>
                            <td class="order_id">
                                <a routerLink="/ecommerce/order-overview" class="fw-medium link-primary">{{data.orderId}}</a>
                            </td>
                            <td class="shop">
                                <img src="{{data.shop}}" alt="" class="avatar-xxs rounded-circle">
                            </td>
                            <td class="customer">
                                {{data.customer}}
                            </td>
                            <td class="products">{{data.product}}</td>
                            <td class="amount">
                                <span class="fw-medium">{{data.amount}}</span>
                            </td>
                            <td class="status">
                                    <span class="badge" [ngClass]="{'bg-secondary-subtle text-secondary': data.status === 'New',
                                    'bg-warning-subtle text-warning': data.status === 'Pending',
                                    'bg-danger-subtle text-danger': data.status === 'Out of Delivered',
                                    'bg-primary-subtle text-primary': data.status === 'Shipping',
                                    'bg-success-subtle text-success': data.status === 'Delivered'}">{{data.status}}</span>
                            </td>
                            <td class="rating">
                                <h5 *ngIf="data.rating" class="fs-md fw-medium mb-0">
                                    <i class="ph-star align-baseline text-warning"></i>
                                    {{data.rating}}
                                </h5>
                                <h5 *ngIf="!data.rating" class="fs-md fw-medium mb-0">-</h5>
                            </td>
                        </tr><!-- end tr -->
                        </tbody><!-- end tbody -->
                    </table><!-- end table -->
                    <div class="noresult" style="display: none">
                        <div class="text-center">
                            <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:75px;height:75px"></lord-icon>
                            <h5 class="mt-2">Sorry! No Result Found</h5>
                            <p class="text-muted mb-0">We've searched more than 150+ transactions We did not find any
                                transactions for you search.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->
<div class="row">
    <div class="col-xl-5">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1">{{'ORDER.LABELS.STATUS' | translate}}</h5>
                <div dropdown class="dropdown card-header-dropdown">
                    <a dropdownToggle class="text-reset dropdown-btn" href="javascript:void(0);">
                        <i class="ph-dots-three-outline-vertical"></i>
                    </a>
                    <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                        <a *ngFor="let option of timePeriodOptions" class="dropdown-item" href="javascript:void(0);" (click)="setStatusesTimePeriod(option.period)">{{('LABELS.TIME_PERIOD.' + option.labelKey) | translate}}</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div *ngFor="let status of orderStatuses" class="row align-items-center mb-3">
                    <div class="col-lg-5">
                        <div class="hstack gap-2">
                            <p class="mb-0 flex-grow-1">{{('ORDER.STATUS.' + status) | translate}}</p>
                            <h6 *ngIf="(statuses$ | async) === null" class="mb-0">0</h6>
                            <h6 *ngIf="(statuses$ | async) as statuses" class="mb-0">{{statuses[status]}}</h6>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="animated-progress">
                            <progressbar *ngIf="(statuses$ | async) === null" [value]="0" [striped]="true" [animate]="true"></progressbar>
                            <progressbar *ngIf="(statuses$ | async) as statuses" [value]="getRelativePercentage(status, statuses)" [striped]="true" [animate]="true"
                                         [type]="getProgressbarType(status)"></progressbar>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->
