<div class="row">
    <ng-container *ngIf="newsArticles$ | async as newsArticles">
        <ng-container *ngFor="let newsArticle of newsArticles">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <img [src]="newsArticle.imageUrl" width="100%">
                        </div>

                        <div class="pt-1">
                            <h6 class="card-title"><a [routerLink]="newsArticle.id">{{newsArticle.title}}</a></h6>
                            <div class="text-muted hstack gap-2 flex-wrap list-unstyled mb-3">
                                <div>
                                    <i class="bi bi-calendar-event align-baseline me-1"></i> {{newsArticle.creationDate.toDate() | timeago}}
                                </div>
                            </div>
                            <blockquote class="blockquote"
                                        *ngIf="hasContent(newsArticle, NewsArticleContentType.QUOTE)">
                                <p>{{getContent(newsArticle, NewsArticleContentType.QUOTE)}}</p>
                            </blockquote>
                            <div [innerHTML]="safe(getContent(newsArticle, NewsArticleContentType.TEXT))"></div>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </ng-container>
    </ng-container>
    <div *ngIf="loading$ | async" id="elmLoader" class="text-center col-lg-12">
        <div class="spinner-border text-primary avatar-sm" role="status"></div>
    </div>
    <div *ngIf="canLoadMore$ | async" class="d-grid card col-lg-12">
        <button class="btn btn-outline-info" type="button" (click)="loadMore()">{{'NEWS.LABEL.LOAD_MORE' | translate}}</button>
    </div>
    <div *ngIf="(newsArticles$ | async)?.length === 0 && !(loading$ | async)" class="empty-notification-elem text-center col-lg-12">
        <div class="pb-3 mt-2">
            <h6 class="fs-lg fw-semibold lh-base">{{'NEWS.LABEL.NONE' | translate}}</h6>
        </div>
    </div>
</div><!--end row-->
